.container {
    background-color: #F0FF42;
    height: 10vh;
    margin-top: 0;
    padding: 0;
    justify-items: center;
    text-justify: center;
    align-content: center;
    /* position: sticky; */
}
@media (max-width:768px) {
    .container{
        height: 15vh;
    }
    
}